@model IEnumerable<WebApp_BanNhacCu.Areas.Admin.MyModels.CDonDatHang>
@{
    int stt = 1;
}
<div class="row border-1 rounded-1 shadow bg-light p-3 m-4">
    <table class="table">
        <thead>
            <tr>
                <th>STT</th>
                <th>
                    @Html.DisplayNameFor(model => model.MaDdh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Diachi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ngaydat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tongtien)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Trangthai)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TtThanhtoan)
                </th>
                <th>Hủy đơn</th>
                <th>Xác nhận</th>
                <th>Chi tiết</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@(stt++)</td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.MaDdh)
                    </td>
                    <td style="width: 300px">
                        @(item.Diachi + ", " + item.Phuongxa + ", " + item.Tinhthanh)
                    </td>
                    <td>
                        @if (item.Ngaydat.HasValue)
                        {
                            @item.Ngaydat.Value.ToShortDateString()
                        }
                        else
                        {
                            <span class="text-muted">N/A</span>
                        }
                    </td>
                    <td>
                        @String.Format("{0:N0} VND", item.Tongtien)
                    </td>
                    <td>
                        @if (item.Trangthai == "Hoàn thành")
                        {
                            <span class="badge bg-success">@item.Trangthai</span>
                        }
                        else if (item.Trangthai == "Chờ xác nhận")
                        {
                            <span class="badge bg-warning text-dark">@item.Trangthai</span>
                        }
                        else if (item.Trangthai == "Đã hủy")
                        {
                            <span class="badge bg-danger">@item.Trangthai</span>
                        }
                        else if (item.Trangthai == "Đã xử lý")
                        {
                            <span class="badge bg-info">@item.Trangthai</span>
                        }
                        else
                        {
                            <span class="badge bg-secondary">@item.Trangthai</span>
                        }
                    </td>
                    <td>
                        @if (item.TtThanhtoan == "Đã thanh toán")
                        {
                            <span class="badge bg-success">@item.TtThanhtoan</span>
                        }
                        else
                        {
                            <span class="badge bg-secondary">@item.TtThanhtoan</span>
                        }
                    </td>
                    <td>
                        @if (item.TtThanhtoan != "Đã thanh toán" && item.Trangthai == "Đang xử lý")
                        {
                            <a class="btn btn-outline-danger" asp-route-id="@item.MaDdh" asp-action="HuyDDH"><i class="bi bi-x-circle-fill"></i></a>
                        }
                        else
                        {
                            <button class="btn btn-outline-danger" disabled><i class="bi bi-ban"></i></button>
                        }
                    </td>
                    <td>
                        @if (item.Trangthai == "Chờ xác nhận")
                        {
                            <a class="btn btn-outline-info" asp-route-id="@item.MaDdh" asp-action="xacNhanDDH"><i class="bi bi-check-square"></i></a>
                        }
                        else
                        {
                            <button class="btn btn-outline-info" disabled><i class="bi bi-check-square"></i></button>
                        }
                    </td>
                    <td>
                        <a class="btn btn-outline-primary" asp-route-id="@item.MaDdh" asp-action="chiTietDDH"><i class="bi bi-ticket-detailed"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@if (ViewBag.tongTrang > 1)
{
    <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination justify-content-center align-items-center">
            <li><a class="page-link " onclick="loadDonHang(1)">«</a></li>
            @for (int i = 1; i <= ViewBag.tongTrang; i++)
            {
                <li class="page-item @(i == ViewBag.trangHienTai ? "active" : "")">
                    <a class="page-link" onclick="loadDonHang('@i')">@i</a>
                </li>
            }
            <li><a class="page-link" onclick="loadDonHang('@ViewBag.tongTrang')">»</a></li>
        </ul>
    </nav>
}
