@model IEnumerable<WebApp_BanNhacCu.Models.NguoiDung>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    NguoiDung? khachHang = Model.FirstOrDefault();
}

<h1 class="text-uppercase fw-bold ms-3">Thông tin tài khoản</h1>
<hr/>
@if (TempData["MessageError_NguoiDung"] != null)
{
    <div class="alert alert-danger text-center fw-bold">
        @TempData["MessageError_NguoiDung"]
    </div>
}
<table class="table text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaNd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tennd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diachi)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaNd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tennd)
            </td>
            <td>
                @(item.Diachi + ", " + item.Phuongxa + ", " + item.Tinhthanh)
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const alertBox = document.querySelector(".alert");
        if (alertBox) {
            setTimeout(() => alertBox.style.display = "none", 3000);
        }
    });
</script>
